name: Deploy Batchportal to Production Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: windows-latest


    steps:
      - name: Checkout Code
        uses: action/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3

      - name: Install Composer Dependencies
        run: composer install --optimize-autoloader --no-dev --no-progress --no-interaction --prefer-dist

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install NPM Dependencies
        run: npm install

      - name: Build NPM ASSETS
        run: npm run build

      - name: Syncronize Files to Server
        uses: easingthemes/ssh-deploy@v5.1.1
        env:
          SSH_PRIVATE_KEY :
          source: '.'
          REMOTE_HOST:
          REMOTE_USER:
          TARGET:



      - name: Run Remote/Artisan Commands
        uses: appleboy/ssh-action@v0.1.6
        with:
          host:
          username:
          key:
          script:

