name: Trigger Sync to Portal

on:
  workflow_dispatch:
    inputs:
      folder:
        description: 'Folder/file to sync from batchportal (e.g., src/components or src/App.js)'
        required: true
        type: string
      dest:
        description: 'Destination path in Portal (e.g., src/components or src/App.js)'
        required: true
        type: string

jobs:
  trigger-sync:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger sync workflow in hbas
        run: |
          FOLDER="${{ steps.changes.outputs.folder }}"
          DEST="${{ steps.changes.outputs.dest }}"

          echo "Folder: $FOLDER"
          echo "Dest: $DEST"

          curl -X POST \
          -H "Accept: application/vnd.github.v3+json" \
          -H "Authorization: token ${{ secrets.MERGE_PAT }}" \
            https://api.github.com/repos/munimwaleed625/hbas/dispatches \
            -d "{
            \"event_type\": \"sync-folder\",
            \"client_payload\": {
              \"folder\": \"$FOLDER\",
              \"dest\": \"$DEST\"
            }
          }"
